
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  color:white;
}
body{
  background-color: rgb(69, 69, 165);
}
.one{
  padding: 20px;
  margin: 0px 450px 0px 450px;
}
.one h1{
  font-style: normal;
  color: white;
  font-weight: 100;
  padding: 5px;
  
}
.one p{
  font-style: italic;
  color: white;
  padding: 5px;
}


label{
  display: block;
  margin: 5px;
}
.two input{
  margin: 10px;
  width: 90%;
  padding:8px;
  color: gray;
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  

}
.zero label{
  font-family: 'Poppins', sans-serif;
}

select{
  margin: 10px;
  width: 90%;
  padding: 8px;
  color:grey;
  font-size: medium;
  background-color:white;

}
select option{
  color:grey;
  background-color: white;
}

form{
  padding:40px;
  margin: 0px 300px 0px 300px;
background-color:#1a163b;
display: block;
font-size: medium;
}
.three {
  justify-content: center;
}


textarea {
  background-color:white;
  color: grey;
  font-size:medium;
}
button{
  background-color:rgb(64, 175, 64);
  width: 87%;
  font-size: medium;
  columns: 70px;
  padding: 10px 0px 10px 0px;
}

