form{
    border border-start-end-radius: 4;:2px solid blue;
    width:70%;
    margin:20px;
    padding:20px;
    heigh:200vh;
background-color: #1a163b;


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto";
      color:white;
}
select *{
    option value
    color: grey;
}
textarea {
  background-color:darkgreen;
}
